<LinkTo
  @route="docs.index"
  @query={{hash
    category=this.category.id
    order=this.order
    ascending=this.ascending
  }}
  class="docs-card-box category-card card-{{this.categorySlug}}"
>
  <div class="docs-card-box-header">
    {{#if this.categoryIcon}}
      {{d-icon this.categoryIcon}}
    {{else}}
      <span
        class="docs-card-box-header-badge-category-bg"
        style={{html-safe (concat "background-color: " this.categoryColor)}}
      ></span>
    {{/if}}
    <h3 class="docs-card-box-header-title">{{this.categoryName}}</h3>
  </div>

  {{#if this.hasDescription}}
    <p class="docs-card-box-description">{{html-safe
        this.categoryDescription
      }}</p>
  {{/if}}

  <span class="docs-card-box-count">{{this.topicCount}}</span>
</LinkTo>