<LinkTo
  @route="docs.index"
  @query={{hash tags=this.tag.id order=this.order ascending=this.ascending}}
  class="docs-card-box tag-card card-{{tag.id}}"
>
  <div class="docs-card-box-header">
    {{#if tagIcon}}
      {{d-icon tagIcon}}
    {{else}}
      {{d-icon "tag" class="card-tag-icon"}}
    {{/if}}
    <h3 class="docs-card-box-header-title">{{tagTitle}}</h3>
  </div>

  <span class="docs-card-box-count">{{topicCount}}</span>
</LinkTo>