<LinkTo
  @route="docs.index"
  @query={{hash tags=this.tag.id order=this.order ascending=this.ascending}}
  class="docs-card-box tag-card card-{{this.tag.id}}"
>
  <div class="docs-card-box-header">
    {{#if this.tagIcon}}
      {{d-icon this.tagIcon}}
    {{else}}
      {{d-icon "tag" class="card-tag-icon"}}
    {{/if}}
    <h3 class="docs-card-box-header-title">{{this.tagTitle}}</h3>
  </div>

  <span class="docs-card-box-count">{{this.topicCount}}</span>
</LinkTo>